/* para retirar as setas dos inputs type=number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.buttonMenuToggled
{
  transition-duration: 0.75s;
  transform: rotate(180deg);
}

#sidebar-wrapper{
  background-color: #313A46 !important;
}

#nav-main{
  background-color: #6f42c1 !important
}

.item-nav{
  background-color: #313A46 !important; 
  /*border-bottom: 1px solid #21272f80!important;*/

}

#navbarDropdown{
  color: white;
  text-decoration: none;
}

#resultado {
    position: relative;
    height: 400px;
    overflow: auto;
    display: block;
}

#resultadoEtapa {
  position: relative;
  height: 400px;
  overflow: auto;
  display: block;
}

.btn-primary
{
  background-color: #6f42c1 !important;
  border-color: #6f42c1 !important;
}

.btn-primary:hover
{
  transition-duration: 0.50s;
  background-color: #6b4f9e !important;
}

.btn-primary:focus
{
  border-color: #6e42c17e !important;
  outline-color: #6e42c17e !important;
}

#main-screen
{
  height: 80vh !important;
}

